<div class="center">
	<img id="title" src="images/logo.png" />
	<div id="subtitle">EMPOWERMENT AND CONNECTION THROUGH DIGITAL LEARNING</div>
	<div class="input-group">
		<div><input class="input" type="email" placeholder="USERNAME" /></div>
		<div><input class="input" type="password" placeholder="PASSWORD" /></div>
	</div>
	<div class="text"><a href="">Forgot your password?</a></div>
</div>