<div class="sidenav center">
	<a href="/questionboard"><img id="pin" src="images/pin.png" /></a>
	<a href="/mentorboard"><img id="heads" src="images/heads.png" /></a>
	<a href="#clients"><img id="gear" src="images/gear.png" /></a>
</div>

<div class="main center">
	<button id="log-out">Log Out</button>
	<br>
	<div class="dash-title">Mentor Board</div>
	<div class="sec-title center">Students you've connected with</div>
	<div class="box">
		<div class="student-prof">
			<div class="square"></div>
			<div class="name">Martin</div>
			<div class="interest">Tech, Career, Personal</div>
		</div>
		<div class="student-prof">
			<div class="square"></div>
			<div class="name">Amelie</div>
			<div class="interest">Tech, Career</div>
		</div>
		<div class="student-prof">
			<div class="square"></div>
			<div class="name">Mohammad</div>
			<div class="interest">Personal</div>
		</div>
	</div>
	<hr>
	<div class="sec-title center">Students looking for mentors</div>
	<div class="box">
		<div class="student-prof">
			<div class="square"></div>
			<div class="name">Benjamin</div>
			<div class="interest">Tech, Personal</div>
		</div>
		<div class="student-prof">
			<div class="square"></div>
			<div class="name">Michael</div>
			<div class="interest">Tech</div>
		</div>
		<div class="student-prof">
			<div class="square"></div>
			<div class="name">Steve</div>
			<div class="interest">Tech, Career, Personal</div>
		</div>
	</div>
</div>