<form action="/register" method="post">
    <input type="text" name="firstName" />
    <input type="text" name="lastName" />
    <input type="text" name="position" />
    <input type="text" name="company" />
    <input type="text" name="country" />
    <input type="text" name="bio" />
    <input type="text" name="skills" />
    <input type="hidden" name="interests" value="{{interests}}">
    <input type="hidden" name="email" value="{{email}}">
    <input type="submit" value="&rarr;">
</form>