<!--The MIT License-->

<!--Copyright (c) 2010-2018 Google, Inc. http://angularjs.org-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy-->
<!--of this software and associated documentation files (the "Software"), to deal-->
<!--in the Software without restriction, including without limitation the rights-->
<!--to use, copy, modify, merge, publish, distribute, sublicense, and/or sell-->
<!--copies of the Software, and to permit persons to whom the Software is-->
<!--furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in-->
<!--all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR-->
<!--IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,-->
<!--FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE-->
<!--AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER-->
<!--LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,-->
<!--OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN-->
<!--THE SOFTWARE.-->

<style>
    .main{
        font-family: 'Helvetica', 'sans-serif';
    }
    .main section{
        width: 80%;
        margin: 0 auto;
    }
    .main .question {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #cccccc;
        padding: 32px 0;

    }
    .main .question .poster{
        width: 30%;
        text-align: center;
    }
    .poster p{
        margin:0;
        font-size: 0.9em;
    }
    .main .question .poster .thumbnail, .thumbnail img {
        border-radius: 999px;

    }
    .main .question .question-content{
        width:70%;
    }
    .question-content h3{
        font-size: 24px;
    }
    .question-content p{
        font-size:18px;
    }

    #log-out{
        position: relative;
        bottom: 40px;
    }
</style>

<div class="sidenav center">
	<a href="#about"><img id="pin" src="images/pin.png" /></a>
	<a href="#services"><img id="heads" src="images/heads.png" /></a>
	<a href="#clients"><img id="gear" src="images/gear.png" /></a>
    <br><br><br>
    <br><br><br>
    <a href="/logout">Logout</a>
</div>

<div class="main">

	<div class="center dash-title">Forum</div>
    <section>
        {{#each questions}}
            <div class="question">
                <div class="poster">
                    <div class="thumbnail">
                        <img src="{{avatar}}">
                    </div>
                    <p>{{author}}</p>
                </div>
                <div class="question-content">
                    <h3>{{this.question}}</h3>
                    <p>{{this.description}}</p>
                </div>

            </div>

        {{/each}}
    </section>

</div>

