<div class="sidenav center">
	<a href="#about"><img id="pin" src="images/pin.png" /></a>
	<a href="#services"><img id="heads" src="images/heads.png" /></a>
	<a href="#clients"><img id="gear" src="images/gear.png" /></a>
</div>

<div class="main">
	<button id="log-out">Log Out</button>
	<div class="center dash-title">Question Board</div>
	<p>This sidebar is of full height (100%) and always shown.</p>
</div>