<div class="center">
    <img id="title" src="images/logo.png" />
    <div id="subtitle">EMPOWERMENT AND CONNECTION THROUGH DIGITAL LEARNING</div>
    <form action="/login" method="post">
        <div class="input-group">
            <div><input class="input" name="email" type="email" placeholder="EMAIL" /></div>
            <div><input class="input" name="password" type="password" placeholder="PASSWORD" /></div>
        </div>
        <div class="button-group">
            <input class="button login-button" type="submit" value="LOG IN">
            <!--<a href="/dashboard"><button class="button login-button">LOG IN</button></a>-->
            <a href="/signup"><button class="button signup-button">SIGN UP</button></a>
        </div>
    </form>
    <div class="text"><a href="">Forgot your password?</a></div>
</div>