<div id="center">
	<img id="title" src="images/logo.png" />
	<div id="subtitle">EMPOWERMENT AND CONNECTION THROUGH DIGITAL LEARNING</div>
	<div class="button-group">
		<div>
			<a href="/login"><button class="button login-button">LOG IN</button></a>
		</div>
		<div>
			<a href="/signup"><button class="button signup-button">SIGN UP</button></a>
		</div>
	</div>
</div>