<div class="center">
	<div id="mentor-heading">
		<button>Change Photo</button>
		<img src="images/CareerClicked.png">
	</div>
	<form>
		<div id="right-side">
		</div>
		<div id="left-side">
		</div>
		<button class="next-arrow"><a href="/mentorboard">&rarr;</a></button>
	</form> 
	<div class="circle-group">
		<div id="circle"></div><div id="circle"></div>
	</div>
</div>