<div class="center">
    <img id="title" src="images/logo.png" />
    <div id="help-text">How can you help our students?</div>
    <div id="help-choice-group">
        <div class="help-choice">
            <img src="person"/>
            <div class="">Technical Skills</div>
            <div>Help with coding, algorithms, and other computer skills</div>
        </div>
        <div class="help-choice">
            <img src=""/>
            <div class="images/CareerUnclicked.png">Career Development</div>
            <div>Help with career direction, interview prep, and other career planning steps</div>
        </div>
        <div class="help-choice">
            <img src="images/PersonalUnclicked.png"/>
            <div class="">Personal Development</div>
            <div>Help asylum seekers acclimate to life in France</div>
        </div>
    </div>
    <div class="bottom-circles">
        <div id="circle"></div><div id="empty-circle"></div>
    </div>
</div>