/*
light blue - #26AAE1
blue - #1276BF
dark blue - #053F67
*/

.center {
	text-align: center;
}

#subtitle {
	font-family: "Arial";
	color: #0078B9;
}

.text {
	font-family: "Arial";
}

#title {
	margin-top: 80px;
}

.button {
	color: white;
	font-size: 30px;
	margin-top: 30px;
	display: inline-block;
	width: 250px;
	height: 60px;
	border-radius: 20px;
}

.button a {
	color: blue;
	text-decoration: none; /* no underline */
	color: white;
}

.button-group {
	margin: auto;
	display: flex;
	justify-content: space-between;
	max-width: 45%;
	margin-bottom: 30px;
}

.login-button {
	background-color: #26AAE1;
	outline: none;
}

.signup-button {
	background-color: #053F67;
	outline: none;
}

#inter-button-space {
	width: 100px;
}

.input {
	padding: 5px 20px 5px 20px;
	font-size: 30px;
	margin-top: 20px;
	display: inline-block;
	width: 400px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #EAEAEA;
	outline: none;
	background-color: #F9F9F9;
	padding-bottom: 15px;
	padding-top: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: gray;
	opacity: 1;
	font-size: 16px;
}

.input-group {
	margin: 40px 0px 40px 0px;
}



/* Dashboard */

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #053F67;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}


#pin {
	width: 40%;
	height: 40%;
	margin-top: 20px;
	margin-bottom: 50px;
}

#heads {
	width: 60%;
	height: 60%;
	margin-top: 45px;
	margin-bottom: 45px;
}

#gear {
	width: 60%;
	height: 60%;
	margin-top: 45px;
}

/* */

#log-out {
	float: right;
	background-color: white;
	border-color: #053F67;
	color: #053F67;
	border-radius: 25%;
	font-size: 20px;
}

.dash-title {
	margin-top: 5px;
	color: #1276BF;
	font-size: 50px;
}

.sec-title {
	color: #053F67;
}

.box {
	display: flex;
	justify-content: space-between;
	margin: 20px 120px 0px 120px;
}

.square {
	height: 150px;
	width: 150px;
	background-color: #555;
}

#circle {
	width: 20px;
	height: 20px;
	background: #979797;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#empty-circle {
	width: 20px;
	height: 20px;
	/*background: #979797;*/
	border-width: 2px;
	border-color: #979797;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.name {
	font-size: 24px;
	color: #1276BF;
}

.interest {
	font-size: 12px;
	color: #1276BF;
}

